.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  transform: translate(-50%, -50%);
  animation: animatetop;
  animation-duration: 1s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #515050;
  border-radius: 4px;
  width: 50%;
}

.hidden {
  display: none;
}

.wrapper {
  text-align: center;
}

input {
  height: 35px;
  width: 80%;
  border-radius: 6px;
  border: 1px solid rgb(165, 165, 165);
}

.submit-button {
  margin-top: 20px;
  height: 35px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: rgb(105, 105, 255);
  color: white;
}

.btn-open-form {
  height: 35px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: rgb(105, 105, 255);
  color: white;
}

.submit-button:hover, .btn-open-form:hover {
  cursor: pointer;
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0)
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7px;
}

@keyframes animatetop {
  from {top: 50%; opacity: 0}
  to {bottom: 0; opacity: 1}
}